body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.value-img {
  width: 130px;
  height: 70px;
}

.submit-header {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.value-prop {
  font-size: 1.75rem;
}

h1 {
  font-size: 4.2rem;
  font-weight: 500;
}

.submit-form {
  float: inline-start;
}

.photo-story-image {
  height: auto;
  width: 500px;
}

.icon {
  padding-right: 5px;
}

.photo-caption {
  font-size: 1.75rem;
  font-weight: 500;
}

.arrow {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
  border: 2px solid #be5f4b;
  border-color: transparent transparent transparent #be5f4b;
  height: 360px;
  width: 1200px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 40px;
  top: 315px;
}

.arrow .point:before,
.arrow .point:after {
  border: 1px solid #be5f4b;
  height: 25px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}
